<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>Colleges</h1>


    <p3><button type="submit"> <a href="/michigan_state"> Michigan State</a></button></p3>
    <p3><button type="submit"> <a href="/wisconsin"> Wisconsin</a></button></p3>
    <p3><button type="submit"> <a href="/illinois"> Illinois</a></button></p3>
    <p3><button type="submit"> <a href="/ohio_state"> Ohio State</a></button></p3>
    <p3><button type="submit"> <a href="/rutgers"> Rutgers</a></button></p3>
    <p3><button type="submit"> <a href="/indiana"> Indiana</a></button></p3>
    <p3><button type="submit"> <a href="/purdue"> Purdue</a></button></p3>
    <p3><button type="submit"> <a href="/iowa"> Iowa</a></button></p3>
    <p3><button type="submit"> <a href="/penn_state"> Penn State</a></button></p3>
    <p3><button type="submit"> <a href="/michigan"> Michigan</a></button></p3>
    <p3><button type="submit"> <a href="/northwestern"> Northwestern</a></button></p3>
    <p3><button type="submit"> <a href="/maryland"> Maryland</a></button></p3>
    <p3><button type="submit"> <a href="/minnesota"> Minnesota</a></button></p3>
    <p3><button type="submit"> <a href="/nebraska"> Nebraska</a></button></p3>






</head>
<body>

</body>
</html>