<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home3</title>
    <style>
      th{
      color:white;
      font-family: Copperplate, Lucida Console, fantasy;
      }
    </style>
</head>
<body style="background-color:#34568B;">


    <table>
  <tr>
    <th>Year</th>
    <th>Home Team</th>
    <th>Pts</th>
    <th>Away Team</th>
    <th>Pts</th>
  </tr>

{% block content %}
  {% for c in content %}

  <tr>
    <th>{{c.year}}</th>
    <th>{{c.team1}}</th>
    <th>{{c.team1score}}</th>
    <th>{{c.team2}}</th>
    <th>{{c.team2score}}</th>
  </tr>

  {% endfor %}
{% endblock %}







</body>
</html>
